body {
    background: black;
}

.skulls {
    position: relative;
    width: 600px;
    height: 200px;
    margin: 0 auto;
    border: 24px solid;
    border-image: url(https://skullctf.com/images/skull-border.svg);
    border-image-slice: 32;
    border-image-repeat: round;
}